#logo {
	height: 4.3em;
}

#searchbar{
	width: 100%;
}

.input-group-append {
	background-color: transparent;
}

.navbar{
	border-bottom: 1px solid lightgray ;
}

.btn-light {
	background-color: transparent !important;
	border-color: #ced4da;
}
