@import '~antd/dist/antd.css';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #87AFC7; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3090C7; 
}

.App {
  margin-top: 24px;
}

.classCard {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 16px;
}

.formGroup {
  text-align: left;
  height: 4em;
}

.portrait {
  margin: 16px;
  border-radius: 1000px;
  width: 50%;
  height: auto;
}

.elem_margin {
  margin: .5em;
}

.textmid {
  text-align: middle;
}

.filterLarge {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  font-size: 1.15em;
  margin: 8px 0;
  color: #3f444c;
  padding-left: 1.1em;
}

.formControl {
  font-family: "Open Sans",sans-serif;
  font-size: 1em;
  color: gray;
  height: 3.5em;
}

option {
  font-size: 1em;
  box-shadow: transparent;
}

.sliderbox {
  margin: 32px 16px;
}

.slider {
  color: red;
}

#weekBar {
  font-size: 1.7em;
}

.btn-group-toggle, .btn-toolbar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.noCourse-card {
  border-color: transparent;
  box-shadow: 0px 0px 0px transparent !important;
}

.card-img-bottom {
  width: 40% !important;
  height: auto;
  margin: 220px auto;
}


.btn-primary, .btn-primary.focus {
  background-color: transparent !important;
  color: grey !important;
  border-color: transparent !important;
  font-family: "Open Sans",sans-serif !important;
  font-weight: bold !important;
  font-size: 160% !important;
  box-shadow: none;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-group {
  background-color: transparent !important;
  color: #85A8DC !important; 
  border-color: transparent !important;
  box-shadow: none;
}

.schedulePop, .dashPop {
  width: 6.5em;
  background-color: #7EA4DE;
  border: none;
  height: 44px;
  font-weight: bold;
  margin: 18px 0;
}

.schedule-course {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.remove, .send-up, .send-down {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E25A64;
  width: 28px;
  height: 30px;
  margin: 6px;
  border: solid 1px #555;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 1em;
}

.bullet {
  min-width: 100px;
}

.send-up, .send-down {
  background: #31906F;
}

#rate-popover {
  width: 100px;
}

.popovers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment-profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 8px;
}

.dash-labels {
  font-size: 1.2em;
  font-weight: bold;
}

.dash-container {
  height: 120px;
  width: 162px;
  overflow: auto;
}

.card {
  border-radius: 6px;
  background-color: #ffffff !important;
}

.card-body {
	padding: 0;
}

.card-title {
  font-size: 20px;
  text-align: left;
}

.card-subtitle {
  font-size: 17px;
  text-align: left;
  margin-bottom: 18px;
  color: #A0A0A0;
}

.card-text {
  text-align: left;
  font-size: 14px;
}

td {
  vertical-align: top;
  padding-bottom: 10px;
}

.rowTitle{
  font-weight: bold;
  margin: 0;
}

.card-text__row {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}

.text-margin {
  margin: 0 8px;
  
}
.text-hidden {
  height: 3em;
  text-overflow: ellipsis;
  overflow:hidden;
}
.text-hidden:hover {
  color: #151B54; 
  overflow: visible; 
  white-space: normal;
  height:auto; /* just added this line */
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.personalWebsiteButton {
    background-color: #7EA4DE;
    border-color: #7EA4DE;
}

#result-pool {
  height: 800px;
  overflow-y: auto;
  box-shadow: 0 0 8px 8px white inset;
}

#wishlist {
  background: #31906F;
}

#select {
    background: #E25A64;
    opacity: 63%;
    /*padding: .25rem .5rem;
    width: 13.2em;
    font-size: .875rem;
    line-height: 1.5;*/
    /*border-radius: .2rem;*/
}

#syllabus_pop {
    background: #7EA4DE;
    margin: 0 12px;
    font-weight: bold;
    border: none;
    min-height: 45px;
}

/*#select, #wishlist {
    width: 11.2em;
    font-size: .875rem;
    line-height: 0.75;
    margin: 0 12px;
    font-weight: bold;
    border: none;
    border-radius: 0 0 0 0px;
    min-height: 20px;
    padding: 0 0 0 0em;
}*/

#select, #wishlist, #syllabus_pop {
    margin: 0 12px;
    font-weight: bold;
    border: none;
    border-radius: 0 0 0 0px;
    min-height: 20px;
    padding: 0 0 0 0em;
    /*padding: .25rem .9rem;*/
    /*padding: 0 0 0 0px;*/
    width: 11.2em;
    font-size: .875rem;
    line-height: 0.75;
    /*border-style: solid;*/
}

#select{
    position:absolute;
    left:5%;
    bottom:10%;
}

#wishlist{
    position:absolute;
    right:42%;
    bottom:10%;
}

#syllabus_pop {
    position: absolute;
    /*bottom: 49%;*/
    bottom: 6%;
    right: 18%;
    height: 2.5em;
    width: 7.9em;
    /*padding: .375rem .75rem .575rem;*/
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    /*right: 17%;*/
    /*width: 10.9em;*/
}

#rateButton {
    margin: 10px 0px;
    background-color: #7EA4DE;
    font-weight: bold;
    border: none;
    border-radius: 0 0 0 0px;
    min-height: 25px;
    padding: 0 0 0 0em;
    /*padding: .25rem .9rem;*/
    /*padding: 0 0 0 0px;*/
    width: 6.9em;
    font-size: .875rem;
    line-height: 1;
    /*border-style: solid;*/
}

.custom-modal {
  border: none;
  overflow: hidden;
}

.cardButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.prof__name {

}

.prof__subtext {
  text-align: left;
  width: 80%;
  margin: 0 24px;
}

#courseInfo {
  margin-top: 20px;
}

.rating-section {
  padding-top: 32px;
  text-align: center;
}

.rating {
  font-size: 3em;
  color: #7EA4DE;
  font-weight: 700;
}

.rating__subtitle {
    font-size: 1em;
    color: #707070;
    font-weight: 600;
    white-space: nowrap;
}

.rating__subtitle--sub {
    font-size: .9em;
    /*font-weight: 600;*/
    white-space: nowrap;
    color: #707070;
    /*white-space: nowrap;*/
    /*color: red;*/
}


.flip-main {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.front {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.modal-dialog {
  width: 80%;
  height: 100%;
  margin:0 auto;
  padding:0;
}

.modal-content {
  height: 100%;
}

.rounded-circle {
  height: 50px;
  width: auto;
}

#selectMod, #wishlistMod, #syllabusMod {
  margin-right: 30px;
}

.cardButtonMod {
  margin: 20px auto;
}

.card_padding {
  padding: 16px;
}

.panel-body {
  width: 100%;
}

.media-list {
  padding: 0;
  height:400px;
  overflow-y:auto;
}

.media-body {
  border: solid 1px #707070;
}

.btn-info {
  float: right;
  /*width:5.5em;*/
}





@media only screen and (max-width:768px){
  #extraBtn {
    display: none;
  }
  #notVisible {
    display: none;
  }
  #visible{
    display: inline;
  }
}

@media (min-width: 360px){
  .modal-dialog {max-width: none;}
}
